node_modules/
dist/
coverage/
*.tgz
*.vsix
.twill/
.DS_Store
editors/vscode/licenses/
examples/**/.vite/
benchmark-results.json
editors/vscode/twill-typescript-plugin/*.cjs
editors/vscode/twill-typescript-plugin/LICENSE
.vscode-test/
packages/twill/README.md
packages/twill/LICENSE
editors/vscode/twill-typescript-plugin/*.map
editors/vscode/twill-typescript-plugin/THIRD_PARTY_LICENSES.txt
